.header-container {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

.name-text {
    padding-top: 0px;

    font-size: 65px;
    margin-left: 15px;
    margin-right: 15px;
}

.qualification-text {
    padding-top: 8px;
}

.email-button {
    padding-top: 16px;
}