.header-container {
    padding-top: 4px;
    padding-bottom: 20px;

    margin-left: 15px;
    margin-right: 15px;

    /* Center all text in the header */
    text-align: center;
}

.name-text {
    font-size: 65px;
}

.qualification-text {
    padding-top: 8px;
}

.email-button {
    padding-top: 16px;
}