.link-card-container {
    padding-top: 5px;
    padding-bottom: 5px;

    /* Sets the padding on the sides of the link-card container (full width of screen +- 15px) */
    margin-left: 15px;
    margin-right: 15px;
}

.link-card {
    /* No width: 100% needed as base card/referrer takes care of that */
    height: 105px;

    /* Used for centering absolute child divs (i.e. link-text) */
    position: relative;
}
