.link-card {
    /* No width: 100% needed as simple card/referrer takes care of that */
    height: 105px;
}

.link-card:hover {
    background-color: #ccc;
}

.centered-text {
    /* Center based on height of link-card */
    line-height: 105px;
    text-align: center;
}

.centered-icon {
    /* Center based on height of link-card */
    line-height: 114px;
    text-align: center;
}
