.social-links {
    /* Center social-links */
    margin-left: auto;
    margin-right: auto;

    /* Apply padding to social-links */
    padding-top: 4px;
    padding-left: 15px;
    padding-right: 15px;

    /* Sets the size of all the link-cards */
    max-width: 650px;
}